/**
 * Phire CMS Styles
 */

/**
 * Global
 */
html {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fefefe;
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

body {
    margin: 0 0 30px 0;
    padding: 50px 0 0 0;
    background-color: #fefefe;
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p {
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0;
}

/**
 * IDs
 */
#checkAll {
    position: relative;
    top: 3px;
}

#install-container {
    margin: 25px auto 40px auto;
    padding: 40px;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0 0 10px 6px #e2e2e2;
    border-radius: 6px;
}

#login-container {
    margin: 160px auto 0 auto;
    padding: 40px;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0 0 10px 6px #e2e2e2;
    border-radius: 6px;
}

#install-container > h2, #login-container > h2 {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    text-align: center;
}

#login-form, #login-form > fieldset > dl {
    margin: 0;
    padding: 0;
}

#login-form > fieldset > dl > dt, #login-form > fieldset > dl > dd {
    margin: 0;
    padding: 0;
}

#login-form > fieldset > dl > dd {
    height: 60px;
}

#profile-form > fieldset > dl > dd {
    height: 50px;
}

#login-footer {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 0.825em;
}

#profile-form {
    margin: 0 auto;
    padding: 0;
    width: 40%;
}

/* Start Pop Side Nav */

#phire-nav > li > ul {
    position: absolute;
    z-index: 10000;
    display: none;
    width: 180px;
    left: -25px;
}

#phire-nav > li:hover > ul {
    display: block;
}

#phire-nav > li > ul > li {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

#phire-nav > li > ul > li > a {
    position: relative;
    margin: 0;
    padding: 8px 12px 8px 12px;
    display: block;
    color: #a5e1ff;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    background-color: #036fa6;
}

#phire-nav > li > ul > li > a:hover {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    background-color: #26a4e2;
}

#phire-nav > li > ul > li > ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 140px;
    width: 140px;
    display: none;
}

#phire-nav > li > ul > li:hover > ul {
    display: block;
}

#phire-nav > li > ul > li > ul > li {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

#phire-nav > li > ul > li > ul > li > a {
    position: relative;
    margin: 0;
    padding: 8px 12px 8px 12px;
    display: block;
    color: #dee1e2;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    background-color: #5d666d;
}

#phire-nav > li > ul > li > ul > li > a:hover {
    font-weight: normal;
    color: #000;
    text-decoration: none;
    background-color: #86949e;
}

/* End Pop Side Nav */

/* Start Pop Side Nav */

#phire-fluid-nav {
    position: relative;
}

#phire-fluid-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1997e5;
    font-size: 1.0em;
    border-bottom: solid 1px #e5e5e5;
}

#phire-fluid-nav > li > a:hover {
    color: #fff;
    background-color: #1997e5;
}

#phire-fluid-nav > li > a:hover {
    color: #fff;
}

#phire-fluid-nav > li > ul {
    margin: 0;
    padding: 0;
}

#phire-fluid-nav > li > ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#phire-fluid-nav > li > ul > li > a {
    margin: 0;
    padding: 10px 0 10px 12px;
    display: block;
    overflow: auto;
    list-style-type: none;
    font-size: 0.9em;
    color: #555;
    background-color: #dedfe0;
    border-bottom: solid 1px #cdcdcd;
}

#phire-fluid-nav > li > ul > li > a > span {
    display: block;
    margin-right: 20px;
    float: right;
    width: calc(100% - 40px);
}

#phire-fluid-nav > li > ul > li > a:hover {
    color: #fff;
    background-color: #858991;
    text-decoration: none;
}

#phire-fluid-nav > li > ul > li > a:before {
    position: relative;
    top: 0;
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f105";
    margin: 0;
    padding: 0 5px 0 10px;
    color: #555;
    font-size: 1.0em;
}

#phire-fluid-nav > li > ul > li > a:hover:before {
    color: #fff;
}

#phire-fluid-nav > li > ul > li > ul {
    margin: 0;
    padding: 0;
}

#phire-fluid-nav > li > ul > li > ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#phire-fluid-nav > li > ul > li > ul > li > a {
    margin: 0;
    padding: 7px 0 7px 12px;
    display: block;
    overflow: auto;
    list-style-type: none;
    font-size: 0.825em;
    color: #333;
    background-color: #ccc;
    border-bottom: solid 1px #dcdcdc;
}

#phire-fluid-nav > li > ul > li > ul > li > a > span {
    display: block;
    margin-right: 20px;
    float: right;
    width: calc(100% - 50px);
}

#phire-fluid-nav > li > ul > li > ul > li > a:hover {
    color: #fff;
    background-color: #545a5e;
    text-decoration: none;
}

#phire-fluid-nav > li > ul > li > ul > li > a:before {
    position: relative;
    top: 0;
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f101";
    margin: 0;
    padding: 0 5px 0 18px;
    color: #333;
    font-size: 1.0em;
}

#phire-fluid-nav > li > ul > li > ul > li > a:hover:before {
    color: #fff;
}

/* End Pop Side Nav */

/* Start Pop Static Nav */

#phire-static-nav {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 160px;
    min-height: 100%;
}

#phire-static-nav > li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

#phire-static-nav > li > a {
    position: relative;
    margin: 0;
    padding: 7px 0 7px 10px;
    display: block;
    font-weight: bold;
    font-size: 1.0em;
    color: #fff;
    text-align: left;
    text-decoration: none;
    border-bottom: solid 1px #4f4b4a;
}

#phire-static-nav > li:hover {
    background-color: #18252c;
}

#phire-static-nav > li > ul {
    position: absolute;
    display: none;
    width: 180px;
    top: 0;
    left: 120px;
}

#phire-static-nav > li > ul > li {
    position: relative;
    list-style-type: none;
}

#phire-static-nav > li > ul > li > a {
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #036fa6;
}

#phire-static-nav > li > ul > li > a:hover {
    color: #46bcfa;
    font-weight: normal;
    text-decoration: none;
}

#phire-static-nav > li:hover > ul {
    display: block;
}

#phire-static-nav > li > ul > li > ul {
    position: absolute;
    display: none;
    top: 0;
    left: 100px;
    width: 180px;
}

#phire-static-nav > li > ul > li > ul > li {
    list-style-type: none;
}

#phire-static-nav > li > ul > li > ul > li > a {
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    font-weight: normal;
    font-size: 0.825em;
    color: #111;
    text-align: left;
    text-decoration: none;
    background-color: #aaa;
}

#phire-static-nav > li > ul > li > ul > li > a:hover {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
    background-color: #666;
}

#phire-static-nav > li > ul > li:hover > ul {
    display: block;
}

/* End Pop Static Nav */

#sub-nav {
    margin: 0;
    padding: 0 0 10px 0;
}

#sub-nav > nav {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#sub-nav > nav > a {
    margin: 0 5px 0 0;
    padding: 4px 7px 4px 7px;
    text-transform: uppercase;
    font-weight: bold;
}

#sub-nav > nav > a:hover {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#role-form-fieldset-3 > dl {
    padding-top: 20px;
    border-top: solid 1px #dcdcdc;
}

#role-form-fieldset-3 > dl > dd {
    width: 200px;
    display: inline-block;
}

#role-form-fieldset-3 > dl > dd > select {
    margin: 0 5px 5px 0;
    width: 180px;
    display: block;
    font-size: 0.9em;
}

#asset-search-form {
    margin: 32px 0 0 0;
    padding: 0;
    float: right;
}

#asset-search-form > div {
    margin: 0 0 0 5px;
    padding: 0;
    float: right;
    display: block;
}

#asset-search-form > div > input[type=text] {
    float: right;
    display: block;
    height: 30px;
}

#asset-search-form > div > input[type=submit] {
    float: right;
    display: block;
    font-size: 0.825em;
}

#asset-upload-form > div > input[type=submit] {
    margin: 0;
    padding: 4px 4px 4px 4px;
    height: 28px;
    font-size: 0.825em;
    float: right;
    display: block;
    color: #444;
    border-radius: 4px;
    border: solid 1px #aaa;
    background: linear-gradient(#dedede, #ababab);
    background-color: #ddd;
}

#saved {
    position: absolute;
    z-index: 10000;
    right: 15px;
    top: 80px;
    display: none;
    margin: 0;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    text-align: right;
    width: 20%;

}

#saved:after {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00c";
    margin: 0;
    padding: 0 0 0 5px;
    color: #5f8700;
    font-size: 1.1em;
}

#removed {
    position: absolute;
    z-index: 10000;
    right: 15px;
    top: 80px;
    display: none;
    margin: 0;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    text-align: right;
    width: 20%;
}

#removed:after {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00d";
    margin: 0;
    padding: 0 0 0 5px;
    color: #9c0000;
    font-size: 1.1em;
}

#expired, #failed {
    position: absolute;
    z-index: 10000;
    right: 0;
    left: 0;
    top: 80px;
    display: none;
    margin: 0 auto;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    text-align: center;
    width: 200px;
}

#role-select-form {
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
    width: 100%;
    border-top: solid 1px #dcdcdc;
}

#form-footer {
    margin: 0 auto 10px auto;
    padding: 0 0 50px 0;
    text-align: right;
}

#form-footer > input {
    float: right;
}

#user_process_action, #clear_logins_by, #clear_sessions_by {
    margin: 3px 15px 0 10px;
    padding-top: 0;
    padding-right: 28px;
    width: 150px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../img/arrow-down-gray.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px 7px;
}

#user_process_action::-ms-expand, #clear_logins_by::-ms-expand, #clear_sessions_by::-ms-expand {
    display: none;
}

#user_process_action > option, #clear_logins_by > option, #clear_sessions_by > option {
    margin: 0;
    padding: 4px 3px 4px 3px;
}

#clear-all-logins {
    margin: 0 15px 0 0;
    padding: 5px 0 0 0;
    float: right;
    font-size: 0.825em;
}
#clear-all-logins > span {
    margin: 5px 0 0 5px;
    float: right;
}

#clear-all-logins > input[type=checkbox] {
    margin: 2px 0 0 5px;
    float: right;
}

#failed_attempts {
    width: 35px;
    height: 30px;
    text-align: center;
}

#session-timeout {
    position: absolute;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /*opacity: 0; */
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    width: 240px;
    height: 90px;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px #bbb;
}

#session-timeout a, #session-timeout span {
    font-weight: normal;
}

#session-timeout h4 {
    margin: 0;
    padding: 4px 0 8px 0;
    font-size: 1.8em;
    font-weight: normal;
    color: #999;
}

/**
 * Classes
 */
/*
.navbar-brand {
    min-width: 160px;
    max-width: 240px;
}
*/
.navbar-nav > li > a.profile-link {
    font-weight: bold;
    color: #ED7E00;
    font-size: 0.9em;
}

.navbar-nav > li > a.logout-link {
    font-size: 0.9em;
}

.navbar-nav > li > a.logout-link:after {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f08b";
    margin: 0;
    padding: 0 0 0 5px;
    color: #fff;
    font-size: 1.1em;
}

.user-header {
    margin: 17px 0 0 0;
    padding: 0 15px 2px 0;
    color: #999;
    font-size: 0.9em;
    border-right: solid 1px #666;
}

.user-header > span {
    padding: 0 3px 0 3px;
}

.data-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    border-top: solid 1px #dcdcdc;
}

.data-form > fieldset {
    margin: 0;
    padding: 0;
}

.data-form > fieldset:first-child {
    margin: 0 0 20px 20px;
    padding: 0 0 40px 20px;
    width: 220px;
    min-height: 400px;
    border-left: solid 1px #dcdcdc;
    float: right;
}

.data-form > fieldset:first-child > dl {
    margin: 0;
    padding: 0;
}

.data-form > fieldset:first-child > dl > dt {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: dotted 1px #ccc;
}

.data-form > fieldset:not(:first-child) {
    margin: 0;
    padding: 0;
    width: calc(100% - 260px);
    float: left;
}

.data-form > fieldset:not(:first-child) > dl {
    padding-bottom: 20px;
}

.data-form select, select.phire-select {
    margin: 0;
    padding: 4px 28px 4px 2px;
    font-family: "Source Sans Pro", sans-serif;
    border: solid 1px #ccc;
    background-color: #fff;
    min-width: 60px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../img/arrow-down-gray.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px 7px;
    box-sizing: border-box;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.data-form select::-ms-expand, select.phire-select::ms-expand {
    display: none;
}

.data-form option, select.phire-select option {
    padding: 2px 4px 2px 4px;
}

.data-form select:focus, select.phire-select:focus {
    border: solid 1px #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control {
    height: 40px;
}

.btn-default {
    background-color: #ddd;
}

.table-responsive {
    clear: both;
    border: none;
}

div.page-links {
    float: right;
    margin: 0 0 5px 0;
    padding: 0;
}

div.page-links > form {
    margin: 0;
    padding: 0;
    display: inline;
}

div.page-links > form > div {
    margin: 0 4px 0 0;
    padding: 0;
    display: inline;
}

div.page-links > form > div > input {
    margin: 0 0 0 4px;
    padding: 3px;
    width: 25px;
    height: 20px;
    color: #666;
    text-align: center;
    font-size: 0.9em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
}

div.page-links > a {
    margin: 0 3px 0 3px;
    padding: 0 5px 6px 5px;
    width: 10px;
    height: 17px;
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    color: #666;
    background-color: #ddd;
    border-radius: 4px;
    box-sizing: initial;
}

div.page-links > a:hover {
    color: #fff;
    background-color: #bbb;
    text-decoration: none;
}

.radio {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    display: inline-block;
}

.radio-span {
    position: relative;
    top: -4px;
    font-size: 0.9em;
    margin: 0 8px 5px 0;
    padding: 0 8px 5px 0;
    display: inline-block;
}

.checkbox {
    margin: 7px 2px 2px 2px;
    padding: 2px;
    clear: left;
    float: left;
}

.checkbox-span {
    margin: 2px;
    padding: 2px;
    float: left;
}

.edit-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
}

.edit-link:hover {
    text-decoration: none;
}

.edit-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 1.3em;
    content: "\f040";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.copy-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
}

.copy-link:hover {
    text-decoration: none;
}

.copy-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 1.3em;
    content: "\f0c5";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.download-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
}

.download-link:hover {
    text-decoration: none;
}

.download-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 1.3em;
    content: "\f019";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.view-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
}

.view-link:hover {
    text-decoration: none;
}

.view-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 1.3em;
    content: "\f14c";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.search-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
}

.search-link:hover {
    text-decoration: none;
}

.search-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 1.3em;
    content: "\f002";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.required {
    color: #098ec6;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}

.table {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.table-striped > tbody > tr:nth-child(odd) {
    background: transparent;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #eee;
}

.table-hover > tbody > tr:hover {
    background-color: #eaf8fc;
}

.table > thead > tr > th {
    padding: 8px 5px 8px 5px;
    background-color: #ddd;
    vertical-align: middle;
}

.table > tbody > tr > td {
    padding: 10px 5px 10px 5px;
    vertical-align: middle;
}

.dashboard-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.dashboard-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0e4";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.users-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.users-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0c0";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
    font-size: 0.825em;
}

.roles-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.roles-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f023";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
    font-size: 0.9em;
}

.sessions-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.sessions-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f017";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
    font-size: 0.9em;
}

.users-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0c0";
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.3em;
    width: 25px;
    text-align: center;
}

.roles-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f023";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.sessions-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f017";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

p.welcome {
    padding: 10px 20px 5px 20px;
    font-size: 0.9em;
}

.no-gutter-left {
    padding-left: 0;
}

li.nav-arrow:hover {
    background-image: url(../img/nav-arrow-left.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.static-sidebar {
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 50px 0 0 0;
    top: 0;
    bottom: 0;
    width: 160px;
    background-color: #343434;
}

.static-main {
    position: relative;
    z-index: 1;
    margin: 0 0 0 170px;
    padding: 0;
    width: calc(100% - 160px);
    float: left;
}

@media (max-width: 990px) {
    #login-container {
        margin: 100px auto 0 auto;
    }

    #asset-search-form {
        margin: 15px 0 0 0;
    }

    .user-header {
        display: none;
    }

    .data-form > dl:first-child {
        width: 150px;
    }

    .data-form > dl:nth-child(2), .data-form > dl:nth-child(3),
    .data-form > dl:nth-child(4), .data-form > dl:nth-child(5) {
        width: calc(100% - 190px);
    }
}

@media (max-width: 750px) {
    #login-container {
        margin: 60px auto 0 auto;
    }

    #profile-form {
        margin: 0 auto;
        padding: 0;
        width: 80%;
    }

    #phire-nav > li > ul {
        position: relative;
        display: block;
        left: 0;
    }

    #phire-nav > li > ul > li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
    }

    #phire-nav > li > ul > li > a {
        margin: 0;
        padding: 2px 2px 2px 2px;
        position: relative;
        color: #aaa;
        font-size: 0.825em;
        display: block;
        font-weight: normal;
        text-decoration: none;
        background: transparent;
    }

    #phire-nav > li > ul > li > a:hover {
        font-weight: normal;
        color: #fff;
        text-decoration: none;
        background: transparent;
    }

    #phire-nav > li > ul > li > ul {
        position: relative;
        display: block;
        left: 0;
    }

    #phire-nav > li > ul > li > ul > li {
        position: relative;
        display: block;
        list-style-type: none;
    }

    #phire-nav > li > ul > li > ul > li > a {
        position: relative;
        margin: 0;
        padding: 2px 2px 2px 20px;
        color: #aaa;
        font-size: 0.825em;
        font-weight: normal;
        display: block;
        text-decoration: none;
        background: transparent;
    }

    #phire-nav > li > ul > li > ul > li > a:hover {
        font-weight: normal;
        color: #fff;
        text-decoration: none;
        background: transparent;
    }

    .data-form > dl:first-child {
        width: 120px;
    }

    .data-form > dl:nth-child(2), .data-form > dl:nth-child(3),
    .data-form > dl:nth-child(4), .data-form > dl:nth-child(5) {
        width: calc(100% - 140px);
    }

    div.navbar-collapse {
        max-height: none !important;
    }

    .radio-span {
        position: relative;
        top: -4px;
        font-size: 0.825em;
        margin: 0 4px 5px 0;
        padding: 0 4px 5px 0;
        display: inline-block;
    }

    .users-header, .sessions-header {
        clear: right;
    }
}

/**
 * Bootstrap Sticky Footer Styles
 */

.footer {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #e8e4e4;
}

.footer > div.text-muted {
    padding-top: 6px;
    font-size: 0.825em;
}

/**
 * Bootstrap Dashboard Styles
 */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    /*display: none; */
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 10px 10px 10px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f4f2ef;
        /*border-right: solid 1px #ececec; */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 15px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    body.no-x-scroll {
        overflow-x: hidden;
    }

    #side-nav-toggle {
        position: absolute;
        z-index: 1;
        top: -12px;
        left: -8px;
        margin: 0;
        padding: 0;
        display: block;
        width: 25px;
        height: 25px;
        color: #cfcfcf;
        font-weight: normal;
    }

    #side-nav-toggle {
        font-weight: normal;
        text-decoration: none;
    }

    #side-nav-toggle > span {
        display: none;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -35%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -35%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 35%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 35%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        width: 33%; /* 6 columns */
        padding: 0 10px 10px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f4f2ef;
        /* border-right: solid 1px #cfcfcf; */
    }

}
