/**
 * Phire CMS 2 Style Sheet
 */

/* Global Definitions */

html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 0.9em;
    color: #727170;
    box-shadow: inset 0 0 120px 90px #d1cecb;
    background-color: #f4f1ed;
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #0493dd;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #ff681f;
}

header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 90px;
    background-color: #211f1e;
}

form {
    margin: 0;
    padding: 0;
    clear: both;
}

h1 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    font-weight: normal;
    font-size: 2.4em;
}

h2 {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: normal;
    font-size: 2.0em;
}

h3 {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6em;
}

dl {
    margin: 0;
    padding: 0
    overflow: auto;
}

dt {
    clear: left;
    margin: 0;
    padding: 0 0 2px 0;
}

dd {
    float: left;
    margin: 0;
    padding: 0 0 8px 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input[type=text], input[type=email], input[type=password]  {
    margin: 0;
    padding: 6px;
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 6px;
    font-size: 1.0em;
    border: solid 1px #c9c9c9;
    background-color: #d3d3d3;
}

select {
    margin: 0;
    padding: 2px;
    font-family: "Source Sans Pro", sans-serif;
    border: solid 1px #c9c9c9;
    background-color: #d3d3d3;
    border-radius: 4px;
}

option {
    padding: 2px;
}

textarea {
    margin: 0 0 10px 0;
    padding: 3px;
    background-color: #d3d3d3;
    border: solid 1px #c9c9c9;
    border-radius: 4px;
    font-size: 0.825em;
    font-family: "Courier New", "Courier10 BT", courier, serif;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=file]:focus, select:focus, textarea:focus {
    border: solid 1px #52b2e5;
    background-color: #efefef;
    box-shadow: 0 0 4px 1px #8cd6ff;
}

input[type=submit]:focus, button:focus {
    outline: none;
}

select {
    min-width: 100px;
}

/* ID Definitions */


#install {
    margin: 0 auto;
    padding: 20px 0 50px 0;
    overflow: auto;
}

#install > h1 {
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    text-align: center;
}

#login {
    margin: 0 auto;
    padding: 160px 0 0 0;
    overflow: auto;
}

#login-form-field-group-1 > dd {
    clear: left;
    padding: 0 0 20px 0;
}

#error {
    position: relative;
    clear: both;
    margin: 125px auto 25px auto;
    padding: 130px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 270px;
    min-height: 160px;
    border-radius: 10px;
    background-image: url(../img/phire-seal.png);
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#install-form, #install > #register-form, #login-form, #forgot-form, #unsubscribe-form {
    margin: 0 auto 25px auto;
    padding: 150px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 270px;
    min-height: 160px;
    border-radius: 10px;
    background-image: url(../img/phire-seal.png);
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#install-config-form {
    margin: 0 auto 25px auto;
    padding: 150px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 80%;
    min-height: 500px;
    border-radius: 10px;
    background-image: url(../img/phire-seal.png);
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#profile-form, #unsubscribe-user-form {
    margin: 0;
    padding: 0;
    display: block;
    width: 270px;
    min-height: 160px;
}

#install-form dl, #install-config-form dl, #install > #register-form dl {
    overflow: auto;
}

#install-form select {
    width: 100%;
}

#install-form > dl > dt, #install-config-form > dl > dt, #install > #register-form > dl > dt,
#forgot-form > dl > dt, #unsubscribe-form > dl > dt {
    padding: 2px 0 2px 0;
}

#install-form > dl > dd, #install > #register-form dl > dd {
    width: 100%;
}


#install-form > dl > dd > input[type=text], #install > #register-form > dl > dd > input[type=text],
#install > #register-form > dl > dd > input[type=email], #install > #register-form > dl > dd > input[type=password] {
    margin: 0 auto;
    width: 252px;
    display: block;
}

#install-form > dl > dd > select {
    margin: 0 auto;
    display: block;
    width: 266px;
}

#install-form > dl > dd > input[type=submit], #install > #register-form > dl > dd > input[type=submit] {
    margin: 0 auto;
    width: 266px;
    padding: 10px 0 10px 0;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#install-config-form > dl > dd {
    padding: 0 0 10px 0;
    width: 100%;
}

#install-form-field-group-2 {
    margin: 0;
    padding: 10px 0 0 0;
}

#profile-form-field-group-2, #unsubscribe-user-form-field-group-2 {
    clear: both;
    margin: 0;
    padding: 15px 0 0 0;
}

#forgot-form > dl > dd, #unsubscribe-form > dl > dd {
    padding: 0 0 18px 0;
    width: 100%;
}

#profile-form > dl > dd, #unsubscribe-user-form > dl > dd {
    padding: 0 2px 18px 2px;
    width: 100%;
}

#login-form > dl > dd > input[type=text], #login-form > dl > dd > input[type=password],
#forgot-form > dl > dd > input[type=email], #unsubscribe-form > dl > dd > input[type=email],
#profile-form > dl > dd > input[type=text], #profile-form > dl > dd > input[type=email],
#profile-form > dl > dd > input[type=password],
#unsubscribe-user-form > dl > dd > input[type=email] {
    width: 256px;
    display: block;
}

#login-form > dl > dd > input[type=submit], #forgot-form > dl > dd > input[type=submit],
#unsubscribe-form > dl > dd > input[type=submit], #profile-form > dl > dd > input[type=submit],
#unsubscribe-user-form > dl > dd > input[type=submit] {
    width: 270px;
    padding: 10px 0 10px 0;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#forgot {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#forgot-form > h2, #forgot-form > p, #unsubscribe-form > h2, #unsubscribe-form > p {
    text-align: center;
}

#login-footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    height: 20px;
    font-size: 0.825em;
    text-align: center;
}

#login-footer > a {
    font-weight: normal;
}

#install-container {
    position: relative;
    min-height: 100%;
}

#header-nav {
    position: relative;
    z-index: 10000;
    margin: 55px 16px 0 0;
    padding: 0;
    color: #f4f1ed;
    float: right;
    height: 35px;
    text-align: right;
}

#header-nav > nav {
    position: relative;
    z-index: 10000;
    margin: 0;
    padding: 0;
    height: 35px;
    display: inline-block;
}

#header-nav > nav > a {
    padding: 0 0 0 8px;
    font-weight: bold;
    text-decoration: none;
    color: #ff681f;
}

#header-nav > nav > a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #f4996d;
}

#header-nav > nav:hover > nav {
    display: block;
}

#header-nav > nav:last-child > a {
    position: relative;
    top: 5px;
    margin: 0 0 0 6px;
    padding: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/logout.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 9999px;
}

#header-nav > nav > nav {
    position: absolute;
    display: none;
    z-index: 10000;
    top: 22px;
    right: 10px;
    margin: 0;
    padding: 8px 0 0 0;
    width: 120px;
    background-image: url(../img/up-arrow.png);
    background-position: right top;
    background-repeat: no-repeat;
    border-bottom: solid 1px #b3b0af;
}

#header-nav > nav > nav > nav > a {
    margin: 0;
    padding: 5px 12px 5px 12px;
    display: block;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: normal;
    color: #575656;
    background-color: #f4f1ed;
    border-left: solid 1px #b3b0af;
    border-right: solid 1px #b3b0af;
    border-bottom: dotted 1px #b3b0af;
}

#header-nav > nav > nav > nav:last-child > a {
    border-bottom: none;
    font-weight: normal;
}

#header-nav > nav > nav > nav > a:hover {
    text-decoration: underline;
    color: #383635;
    font-size: 0.9em;
    background-color: #d2ceca;
}

#sub-nav {
    margin: 0;
    padding: 0;
}

#sub-nav > nav {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#sub-nav > nav > a {
    margin: 0 5px 0 0;
    padding: 4px 7px 4px 7px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 0.75em;
    background-color: #4aa1ce;
}

#sub-nav > nav > a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #30b6f9;
}

#login-form > dl:last-child > dd, #profile-form > dl:last-child > dd, #register-form > dl:last-child > dd,
#install-form > dl:last-child > dd, #install-config-form > dl:last-child > dd, #forgot-form > dl:last-child > dd,
#unsubscribe-form > dl:last-child > dd {
    clear: left;
    float: none;
}

#forgot {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#forgot > a {
    font-weight: normal;
}

#user-form, #user-role-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    border-top: solid 1px #ccc;
}

#user-form > dl:first-child, #user-role-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 300px;
    height: 100%;
}

#user-form > dl:first-child > dd, #user-form > dl:first-child > dt,
#user-role-form > dl:first-child > dd, #user-role-form > dl:first-child > dt {
    width: 100%;
}

#user-form > dl:first-child > dt, #user-role-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#user-form > dl:first-child > dd, #user-role-form > dl:first-child > dd {
    margin: 0 0 10px 0;
}

#user-form > dl:nth-child(2) > dd, #user-role-form > dl:nth-child(2) > dd, #user-role-form > dl:nth-child(3) > dd {
    padding: 0 2px 18px 2px;
}

#config-form {
    margin: 5px auto 10px auto;
    padding: 0 0 10px 0;
    width: 100%;
}

#datetime_format_custom, #pagination {
    margin: 0;
    padding: 4px 6px 4px 6px;
}

#user-role-form-field-group-3 > dd > fieldset {
    padding: 7px 0 0 0;
}

#loading {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#form-footer {
    margin: 0 auto 10px auto;
    padding: 0 0 10px 0;
    text-align: right;
}

#form-footer > input {
    float: right;
}

#installed {
    position: absolute;
    z-index: 10000;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding: 13px 0 11px 0;
    width: 200px;
    height: 20px;
    font-size: 0.9em;
    color: #0c96d6;
    background-color: #bde8fc;
    border-radius: 7px;
    box-shadow: 0 0 10px 3px #a6b5bc;
}

#user-search-form {
    margin: 32px 0 0 0;
    padding: 0;
    float: right;
}

#user-search-form > div {
    margin: 0 0 0 5px;
    padding: 0;
    float: right;
    display: block;
}

#user-search-form > div > input[type=text] {
    margin: 0;
    padding: 2px 4px 2px 4px;
    height: 16px;
    color: #666;
    font-size: 0.825em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
    float: right;
    display: block;
}

#user-search-form > div > select {
    margin: 0;
    padding: 0 2px 0 2px;
    color: #666;
    font-size: 0.9em;
    height: 22px;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
    float: right;
    display: block;
}

#user-search-form > div > select > option {
    margin: 0;
    padding: 1px;
    font-size: 0.9em;
}

#user-search-form > div > input[type=submit] {
    margin: 0;
    padding: 0 4px 0 4px;
    height: 22px;
    font-size: 0.825em;
    float: right;
    display: block;
    color: #444;
    border-radius: 4px;
    border: solid 1px #aaa;
    background: linear-gradient(#dedede, #ababab);
    background-color: #ddd;
}

/* Class Definitions */

.logo {
    margin: 24px 0 0 16px;
    padding: 0;
    width: 195px;
    height: 40px;
    display: block;
    float: left;
    background-image: url(../img/phire-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: -9999px;
}

@media screen and (min-width: 1140px)
{
    .system-overview {
        margin: 0;
        padding: 0;
        float: right;
        width: 25%;
        border: solid 1px #ccc;
    }

    .dashboard-table {
        margin: 0 10px 20px 0;
        padding: 0;
        clear: left;
        float: left;
        width: 72%;
        border: solid 1px #ccc;
    }
}

@media screen and (max-width: 1139px)
{
    .system-overview {
        margin: 0 auto 20px auto;
        padding: 0;
        width: 99.5%;
        border: solid 1px #ccc;
    }

    .dashboard-table {
        margin: 0 auto 20px auto;
        padding: 0;
        width: 99.5%;
        border: solid 1px #ccc;
    }
}

.system-overview tr, .dashboard-table tr {
    margin: 0;
    padding: 0;
}

.system-overview tr:hover, .dashboard-table tr:hover {
    background-color: #e8f4f7;
}

.system-overview th, .dashboard-table th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    font-size: 0.9em;
    background-color: #dedede;
}

.system-overview td, .dashboard-table td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

.data-table {
    clear: both;
    margin: 10px auto 10px auto;
    padding: 0;
    width: 100%;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.data-table tr {
    margin: 0;
    padding: 0;
}

.data-table tr:hover {
    background-color: #e8f4f7;
}

.data-table th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    font-size: 0.9em;
    border-top: solid 1px #ccc;
    background-color: #ddd;
}

.data-table td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

.data-table tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.data-table tr:nth-child(odd):hover {
    background-color: #e8f4f7;
}

.data-table tr.no-background, .data-table td.no-background,
.data-table tr.no-background:hover, .data-table td.no-background:hover {
    background: transparent;
}

.data-table tr.no-padding, .data-table td.no-padding {
    padding: 0;
}

.required {
    color: #4aa1ce;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}

.page-links {
    float: right;
    margin: 0 0 5px 0;
    padding: 0;
}

.page-links > form {
    margin: 0;
    padding: 0;
    display: inline;
}

.page-links > form > div {
    margin: 0 4px 0 0;
    padding: 0;
    display: inline;
}

.page-links > form > div > input {
    margin: 0 0 0 4px;
    padding: 1px;
    width: 20px;
    height: 17px;
    color: #666;
    text-align: center;
    font-size: 0.9em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
}

.page-links > a {
    margin: 0 3px 0 3px;
    padding: 0 5px 6px 5px;
    width: 10px;
    height: 17px;
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    color: #666;
    background-color: #ddd;
    border-radius: 4px;
}

.page-links > a:hover {
    color: #fff;
    background-color: #bbb;
    text-decoration: none;
}

.edit-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/edit.png);
    text-indent: -1000px;
}

.copy-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/copy.png);
    text-indent: -1000px;
}

.download-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/download.png);
    text-indent: -1000px;
}

th.text-center, td.text-center {
    text-align: center;
}

.radio {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.radio-span {
    margin: 0 8px 5px 0;
    padding: 0 8px 5px 0;
}

.checkbox {
    margin: 2px;
    padding: 2px;
    clear: left;
    float: left;
}

.checkbox-span {
    margin: 2px;
    padding: 2px;
    float: left;
}

.datetime-format {
    padding: 5px 0 5px 0;
}

.save-btn {
    margin: 0;
    padding: 6px 12px 6px 12px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #4aa1ce;
    border-radius: 5px;
    border: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.save-btn:hover {
    cursor: pointer;
    background-color: #30b6f9;
}

.wide {
    width: 100%;
}

.process-btn {
    margin: 0;
    padding: 6px 12px 6px 12px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #7a7a7a;
    border-radius: 5px;
    border: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.process-btn:hover {
    cursor: pointer;
    background-color: #a6a6a6;
}

.modules-nav-icon {
    background-image: url(../img/gear-icon-sm.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}

.users-nav-icon {
    background-image: url(../img/users-icon-sm.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}

.config-nav-icon {
    background-image: url(../img/sliders-icon-sm.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}

.dashboard-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 45px;
    background-image: url(../img/dashboard-icon-lg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.modules-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 40px;
    background-image: url(../img/gear-icon-lg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.users-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 45px;
    background-image: url(../img/users-icon-lg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.config-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 42px;
    background-image: url(../img/sliders-icon-lg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.module-nav {
    margin: 0;
    padding: 0;
    display: block;
}

.module-nav > nav > a {
    padding: 5px 5px 5px 10px;
    display: block;
}

.module-nav > nav > nav {
    padding: 5px 5px 5px 25px;
    border-top: solid 1px #ccc;
    display: block;
}

.module-nav > nav > nav > nav > a {
    font-weight: normal;
}

