/**
 * Phire CMS 2 Horizontal Navigation Style Sheet
 */

#container {
    position: relative;
    min-height: 100%;
    overflow: auto;
    background-color: #f0eeec;
}

#container > footer {
    position: absolute;
    bottom: 0;
    clear: both;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    height: 15px;
    font-size: 0.825em;
    text-align: center;
    background-color: #d1d0d0;
}

#container > footer > a {
    font-weight: normal;
}

#phire-nav {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 0.9em;
    background-color: #514e4c;
}

#phire-nav > nav {
    position: relative;
    margin: 0 0 0 -3px;
    padding: 0;
    display: inline-block;
}

#phire-nav > nav > a {
    position: relative;
    padding: 10px 35px 10px 35px;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-right: solid 1px #6B6765;
}

#phire-nav > nav:hover {
    background-color: #000;
}

#phire-nav > nav > nav {
    position: absolute;
    display: none;
    width: 150px;
}

#phire-nav > nav > nav > nav > a {
    position: relative;
    margin: 0;
    padding: 8px 10px 8px 10px;
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #000;
}

#phire-nav > nav > nav > nav > a:hover {
    background-color: #666;
}

#phire-nav > nav:hover > nav {
    display: block;
}

#phire-nav > nav > nav > nav > nav {
    position: absolute;
    display: none;
    top: 0px;
    left: 150px;
    width: 150px;
}

#phire-nav > nav > nav > nav > nav > nav > a {
    position: relative;
    margin: 0;
    padding: 8px 10px 8px 10px;
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #aaa;
}

#phire-nav > nav > nav > nav > nav > nav > a:hover {
    text-decoration: underline;
    background-color: #666;
}

#phire-nav > nav > nav > nav:hover > nav {
    display: block;
}

#content {
    margin: 0 auto;
    padding: 0 2% 50px 2%;
    width: 96%;
    overflow: auto;
}

#saved {
    position: absolute;
    z-index: 10000;
    right: 30px;
    top: 155px;
    display: none;
    opacity: 0;
    margin: 0;
    font-weight: bold;
    text-align: left;
    padding: 12px 20px 12px 35px;
    width: 150px;
    height: 20px;
    color: #315900;
    background-color: #dbf2bf;
    border-radius: 7px;
    box-shadow: 0 0 10px 3px #b8c9a1;
    background-image: url(../img/check.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}

#removed {
    position: absolute;
    z-index: 10000;
    right: 30px;
    top: 155px;
    display: none;
    opacity: 0;
    margin: 0;
    font-weight: bold;
    text-align: left;
    padding: 12px 20px 12px 35px;
    width: 150px;
    height: 20px;
    color: #8e0202;
    background-color: #e8d0d0;
    border-radius: 7px;
    box-shadow: 0 0 10px 3px #bfa4a4;
    background-image: url(../img/x.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}