/**
 * Phire CMS 2.0 Style Sheet
 */

/* Global Style Definitions */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic");

html  {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", arial, helvetica, verdana, sans-serif;
    font-size: 0.75em;
    color: #606060;
    background-color: #fcf9f9;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    font-size: 2.4em;
}

h2 {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: normal;
    font-size: 2.0em;
}

h3 {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6em;
}

p {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.4em;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #006bc9;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #e86000;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

form {
    margin: 0;
    padding: 0;
    clear: both;
}

dl {
    margin: 0;
    padding: 0;
    overflow: auto;
}

dt {
    clear: left;
    margin: 3px;
    padding: 0;
    line-height: 1.2em;
}

dd {
    float: left;
    margin: 3px 3px 9px 3px;
    padding: 0;
    line-height: 1.2em;
}

label {
    font-weight: bold;
}

fieldset {
    margin: 0;
    padding: 0 3px 6px 3px;
    border: none;
}

input[type=text], input[type=password] {
    margin: 0;
    padding: 6px 4px 6px 4px;
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    background-color: #d3d3d3;
    font-family: "Open Sans", arial, helvetica, verdana, sans-serif;
}

input[type=file] {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    width: 300px;
    height: 28px;
    border: solid 1px #d3d3d3;
    background-color: #d3d3d3;
    font-size: 12px;
    font-family: "Open Sans", arial, helvetica, verdana, sans-serif;
}

select {
    margin: 0;
    padding: 4px 2px 4px 2px;
    font-size: 1.0em;
    border: solid 1px #d3d3d3;
    background-color: #d3d3d3;
    border-radius: 4px;
}

option {
    margin: 2px;
    padding: 2px 2px 0 2px;
}

textarea {
    margin: 0 0 10px 0;
    padding: 3px;
    background-color: #d3d3d3;
    border: solid 1px #aaa;
    border-radius: 4px;
    font-size: 1.0em;
    font-family: "Courier New", "Courier10 BT", courier, serif;
}

input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, select:focus, textarea:focus {
    border: solid 1px #52b2e5;
    background-color: #efefef;
    box-shadow: 0 0 4px 1px #8cd6ff;
}

input[type=submit]:focus, button:focus {
    outline: none;
}

/* ID Definitions */

#phire-container {
    position: relative;
    min-height: 100%;
}

#install {
    margin: 0 auto;
    padding: 20px 0 35px 0;
    width: 850px;
    overflow: auto;
}

#install p {
    margin: 10px 0 10px 0;
    padding: 0;
    line-height: 1.5em;
}

#install-header, #login-header {
    margin: 0 0 10px 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 160px;
    background-color: #211f1e;
    box-shadow: inset 0 0 60px 20px #000;
}

#install-header h2, #login-header h2 {
    color: #fff;
    margin: 0 auto;
    padding: 80px 0 0 0;
    width: 850px;
    height: 80px;
    text-align: right;
    background-image: url(../img/phire-logo-lg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#install-form {
    margin: 0 auto;
    padding: 0;
    width: 620px;
}

#install-form > dl {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#install-form > dl > dt {
    clear: left;
    float: left;
    margin: 0;
    padding: 10px 3px 4px 3px;
    width: 200px;
    text-align: right;
    line-height: 1.2em;
}

#install-form > dl > dd {
    float: left;
    margin: 0;
    padding: 4px 3px 6px 3px;
    line-height: 1.2em;
}

#install-form > dl > dd > input[type=text] {
    width: 250px;
}

#user-install-form > dl > dd > input[type=text], #user-install-form > dl > dd > input[type=password] {
    width: 240px;
}

#user-install-form {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    width: 270px;
}

#login {
    margin: 0 auto;
    padding: 40px 0 35px 0;
    width: 850px;
    overflow: auto;
}

#login-form, #forgot-form {
    margin: 30px auto 30px auto;
    padding: 80px 100px 80px 100px;
    width: 310px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #d3cac6;
}

#login-form input[type=text], #login-form input[type=password], #forgot-form input[type=text] {
    width: 330px;
}

#login-form dl > dd, #field-form dl > dd, #field-group-form dl > dd,
#user-role-form dl > dd, #user-type-form dl > dd {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#forgot-div {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 450px;
    font-size: 0.9em;
    text-align: right;
}

#forgot-div a {
    font-weight: normal;
}

#verify-p {
    margin: 0 auto;
    padding: 50px;
    width: 350px;
    font-size: 1.2em;
    text-align: center;
}

#config {
    display: block;
    margin: 20px auto 20px auto;
    width: 830px;
}

#phire-header {
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100px;
    overflow: auto;
    color: #ccc;
    background-image: url(../img/phire-logo-sm.png);
    background-position: 25px center;
    background-repeat: no-repeat;
    background-color: #211f1e;
    box-shadow: inset 0 0 20px 2px #000;
    border-bottom: solid 1px #353331;
}

#phire-header a {
    color: #3FB8FF;
}

#phire-header a:hover {
    color: #FF681F;
}

#logged-in {
    margin: 35px 25px 0 0;
    padding: 0;
    line-height: 1.5em;
    float: right;
    text-align: right;
}

#phire-nav {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 36px;
    background-color: #514e4c;
    border-bottom: solid 1px #353331;
}

#phire-nav li {
    position: relative;
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#phire-nav li > a {
    margin: 0;
    padding: 10px 28px 10px 28px;
    display: block;
    float: left;
    height: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#phire-nav li > a:hover {
    background-color: #000;
    text-decoration: underline;
}

#phire-nav li > ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 36px;
    z-index: 100;
    background-color: #000;
}

#phire-nav li:hover > ul {
    display: block;
}

#phire-nav li > ul > li {
    position: relative;
    display: block;
    clear: left;
    float: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#phire-nav li > ul > li > a {
    margin: 0;
    padding: 7px 5px 1px 15px;
    color: #fff;
    display: block;
    width: 140px;
    min-height: 22px;
    font-size: 0.9em;
    text-align: left;
    text-decoration: none;
    background-color: #000;
}

#phire-nav li > ul > li > a:hover {
    text-align: left;
    color: #dbd9d9;
    background-color: #6b6968;
    text-decoration: underline;
}

#phire-nav li > ul > li > ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 160px;
    z-index: 100;
    background-color: #000;
}

#phire-nav li > ul > li:hover > ul {
    display: block;
}

#phire-content {
    margin: 0 auto;
    padding: 20px 0 35px 0;
    width: 95%;
    overflow: auto;
}

#user-form, #user-select-form, #user-type-form, #user-role-form,
#field-form, #field-group-form, #site-form, #update-form {
    clear: both;
    display: block;
    margin: 45px 0 10px 0;
    padding: 10px 0 10px 0;
    border-top: solid 1px #ccc;
}

#user-form-field-group-1, #user-role-form-field-group-1, #field-form-field-group-1,
#user-type-form-field-group-1, #site-form-field-group-1, #update-form-field-group-1 {
    margin: 20px 0 40px 10px;
    padding: 0 0 20px 15px;
    float: right;
    width: 245px;
    min-height: 420px;
    border-left: solid 1px #ccc;
    background-image: url(../img/inner-shadow.gif);
    background-repeat: repeat-y;
    background-position: -4px 0px;
}

#field-form-field-group-1 fieldset, #user-form-field-group-1 fieldset,
#site-form-field-group-1 fieldset {
    width: 220px;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 0;
    font-size: 0.9em;
    border-top: solid 1px #ccc;
}

#field-form-field-group-1 dt, #user-form-field-group-1 dt, #user-role-form-field-group-1 dt,
#user-type-form-field-group-1 dt, #site-form-field-group-1 dt {
    margin: 0;
    padding: 10px 3px 3px 3px;
    width: 220px;
    clear: left;
    text-align: left;
    display: block;
    line-height: 1.0em;
}

#field-form-field-group-1 dd, #user-form-field-group-1 dd, #user-role-form-field-group-1 dd,
#user-type-form-field-group-1 dd, #site-form-field-group-1 dd {
    margin: 0 0 5px 0;
    padding: 0 3px 3px 3px;
    float: left;
    line-height: 1.0em;
}

#field-form-field-group-1 select, #user-form-field-group-1 select, #user-role-form-field-group-1 select,
#user-type-form-field-group-1 select {
    margin: 0;
    padding: 2px 1px 2px 1px;
    font-size: 0.9em;
}

#user-type-form {
    clear: both;
    display: block;
    margin: 45px 0 0 0;
    padding: 0;
    border-top: solid 1px #ccc;
    overflow: auto;
}

#user-type-form-field-group-2 {
    margin: 20px 0 0 0;
    padding: 0;
    overflow: auto;
    width: 360px;
    min-height: 750px;
    float: left;
}

#user-type-form-field-group-3, #user-type-form-field-group-4 {
    margin: 20px 0 0 5px;
    padding: 10px 0 10px 20px;
    width: 220px;
    min-height: 420px;
    float: left;
    overflow: auto;
    border-left: solid 1px #ccc;
}

#user-type-form-field-group-3 fieldset, #user-type-form-field-group-4 fieldset {
    width: 200px;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 0;
    border-top: solid 1px #ccc;
}

#user-type-form-field-group-3 dd, #user-type-form-field-group-4 dd {
    float: left;
    display: block;
    width: 200px;
    margin: 0 0 3px 0;
    padding: 0;
}

#user-role-form-field-group-3 dt, #user-role-form-field-group-4 dt {
    margin: 0;
    padding: 0;
}

#user-search-form {
    margin: 0 4px 5px 0;
    padding: 0;
    overflow: auto;
    float: right;
}

#search-for {
    margin: 3px;
    padding: 2px 5px 3px 5px;
    height: 14px;
    font-size: 0.9em;
    float: right;
}

#search_by {
    margin: 3px;
    padding: 1px 2px 1px 2px;
    height: 21px;
    font-size: 0.9em;
    float: right;
}

#search-for:focus {
    border: solid 1px #52b2e5;
    background-color: #efefef;
    box-shadow: 0 0 2px 1px #8cd6ff;
}

#media-sizes, #media-actions, #media-params, #media-quality, #media-remove {
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}

#media-sizes input, #media-params input, #media-quality input {
    margin: 0 0 10px 0;
    padding: 0;
    height: 20px;
}

#media-remove input.rm-media {
    margin: 5px 0 22px 0;
    padding: 0;
}

#media-actions select {
    margin: 0 0 10px 0;
    padding: 1px 0 1px 0;
}

#loading {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #000;
    display: none;
}

#loading img {
    display: block;
    margin: 25% auto auto auto;
}

#result {
    clear: both;
    margin: 5px auto 10px auto;
    padding: 1%;
    width: 97.5%;
    display: none;
    font-weight: bold;
    border-radius: 4px;
}

#install-error {
    margin: 0 auto 5px auto;
    padding: 15px 1% 15px 1%;
    width: 96%;
    overflow: auto;
    font-weight: bold;
    color: #8e0202;
    background-color: #e8d0d0;
}

#install-error p {
    margin: 0;
    padding: 0;
    width: 45%;
    line-height: 1.5em;
}

#updated, #created {
    clear: left;
    margin: 5px 10px 0 0;
    padding: 0 10px 0 0;
    font-size: 0.9em;
    float: right;
    text-align: right;
    border-right: solid 1px #ccc;
}

#install-nav {
    margin: 0;
    padding: 0 0 20px 0;
    overflow: auto;
}

#logout-warning-back {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100000;
    background-color: #000;
    display: none;
}

#logout-warning {
    top: 190px;
    margin: 0;
    padding: 20px;
    position: absolute;
    z-index: 100001;
    background-color: #fff;
    width: 300px;
    height: 180px;
    display: block;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 12px 6px #000;
}

#countdown {
    margin: 0;
    padding: 0;
    font-size: 2.0em;
    text-align: center;
    font-weight: normal;
}

#continue {
    margin: 30px 10px 0 0;
    padding: 10px;
    width: 90px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #5a8c1d;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
}

#continue:hover {
    text-decoration: none;
    background-color: #75b724;
}

#logout {
    margin: 30px 0 0 10px;
    padding: 10px;
    width: 90px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #a51212;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
}

#logout:hover {
    text-decoration: none;
    background-color: #c91414;
}

#footer {
    position: absolute;
    bottom: 0;
    clear: both;
    margin: 0 auto;
    padding: 11px 0 9px 0;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 15px;
    background-color: #ddd;
}

#footer a {
    font-weight: normal;
}

/* Class Definitions */

.home-logo {
    margin: 25px 0 0 25px;
    padding: 0;
    width: 240px;
    height: 50px;
    float: left;
    display: block;
    text-indent: -1000px;
}

@media screen and (min-width: 1140px)
{
    .system-overview {
        margin: 0;
        padding: 0;
        float: right;
        width: 25%;
        border: solid 1px #ccc;
    }

    .dashboard-table {
        margin: 0 10px 20px 0;
        padding: 0;
        clear: left;
        float: left;
        width: 72%;
        border: solid 1px #ccc;
    }
}

@media screen and (max-width: 1139px)
{
    .system-overview {
        margin: 0 auto 20px auto;
        padding: 0;
        width: 99.5%;
        border: solid 1px #ccc;
    }

    .dashboard-table {
        margin: 0 auto 20px auto;
        padding: 0;
        width: 99.5%;
        border: solid 1px #ccc;
    }
}

.system-overview tr, .dashboard-table tr {
    margin: 0;
    padding: 0;
}

.system-overview tr:hover, .dashboard-table tr:hover {
    background-color: #e8f4f7;
}

.system-overview th, .dashboard-table th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    background-color: #dedede;
}

.system-overview td, .dashboard-table td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

td.site-live {
    max-width: 150px;
    word-wrap: break-word;
    font-size: 0.75em;
    color: #315900;
    background-color: #dbf2bf;
}

td.site-not-live {
    max-width: 150px;
    word-wrap: break-word;
    font-size: 0.75em;
    color: #8e0202;
    background-color: #e8d0d0;
}

.error-div {
    margin: 0 auto 5px auto;
    padding: 10px 1% 10px 1%;
    width: 98%;
    height: 17px;
    overflow: hidden;
    color: #8e0202;
    background-color: #e8d0d0;
    border-radius: 4px;
}

.error-div p {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.5em;
}

.error-div a {
    color: #e20d0d;
    text-decoration: underline;
}

.data-table {
    margin: 0 auto 10px auto;
    padding: 0;
    width: 99.5%;
    border-top: solid 1px #ccc;
}

.data-table tr {
    margin: 0;
    padding: 0;
}

.data-table tr:hover {
    background-color: #e8f4f7;
}

.data-table th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    background-color: #dedede;
}

.data-table td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

.data-table tr:nth-child(odd) {
    background-color: #eee;
}

.data-table tr:nth-child(odd):hover {
    background-color: #e8f4f7;
}

.required {
    color: #006bc9;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}

.check-box {
    margin: 2px;
    padding: 2px;
    clear: left;
    float: left;
}

.check-span {
    margin: 2px;
    padding: 2px;
    float: left;
}

th.first-th, td.first-td {
    width: 5%;
    text-align: center;
    border-left: solid 1px #ccc;
}

th.single-header, td.single-header {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

th.last-th, td.last-td {
    width: 5%;
    text-align: center;
    border-right: solid 1px #ccc;
}

th.vert-top, td.vert-top {
    vertical-align: top;
}

tr.table-bottom-row, td.table-bottom-row {
    margin: 0;
    padding: 7px 0 7px 0;
    font-size: 1.0em;
    text-align: right;
    background: transparent;
}

.data-table tr.table-bottom-row:nth-child(odd) {
    background: transparent;
}

td.table-bottom-row > div.page-links {
    margin: 0 0 0 2px;
}

tr.table-bottom-row:hover, td.table-bottom-row:hover {
    background: transparent;
}

.border-left {
    border-left: solid 1px #ccc;
}

.border-right {
    border-right: solid 1px #ccc;
}

.install-btn {
    margin: 0;
    padding: 8px 0 8px 0;
    width: 260px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #1481bc;
}

.install-btn:hover {
    cursor: pointer;
    background-color: #37ade8;
}

.save-btn {
    margin: 0;
    padding: 6px 0 8px 0;
    width: 225px;
    height: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #5a8c1d;
}

.save-btn:hover {
    cursor: pointer;
    background-color: #75b724;
}

.update-btn {
    margin: 0;
    padding: 6px 0 8px 0;
    width: 225px;
    height: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #1481bc;
}

.update-btn:hover {
    cursor: pointer;
    background-color: #37ade8;
}

.remove-btn {
    margin: 3px 0 0 0;
    padding: 6px 8px 6px 8px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 11px;
    background-color: #a51212;
}

.remove-btn:hover {
    cursor: pointer;
    background-color: #c91414;
}

.preview-btn {
    margin: 0;
    padding: 6px 0 8px 0;
    width: 225px;
    height: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #665d5b;
}

.preview-btn:hover {
    cursor: pointer;
    background-color: #918582;
}

.search-btn {
    float: right;
    margin: 0 0 0 5px;
    padding: 3px 5px 4px 5px;
    display: inline-block;
    min-width: 65px;
    height: 22px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 10px;
    background-color: #5a8c1d;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #75b724;
}

.small-save-btn {
    margin: 0;
    padding: 2px 0 6px 0;
    width: 60px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.0em;
    background-color: #5a8c1d;
}

.small-save-btn:hover {
    cursor: pointer;
    background-color: #75b724;
}

.small-btn {
    margin: 0 3px 6px 4px;
    padding: 4px 8px 4px 8px;
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 0.825em;
    background-color: #1481bc;
}

.small-btn:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #37ade8;
}

.install-ext-btn {
    margin: 4px 5px 5px 0;
    padding: 5px 8px 5px 8px;
    display: block;
    width: 100px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: #1481bc;
}

.install-ext-btn:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #37ade8;
}

.page-links {
    margin: 0 0 6px 2px;
    padding: 0;
    font-size: 0.825em;
    float: left;
}

.page-links > span {
    margin: 0 5px 0 0;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    background-color: #dedede;
    border-radius: 4px;
}

.page-links > a {
    margin: 0 5px 0 0;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    color: #666;
    background-color: #c6c6c6;
    border-radius: 4px;
    text-decoration: none;
}

.page-links > a:hover {
    color: #fff;
    background-color: #999;
    text-decoration: none;
}

.export-btn {
    float: right;
    margin: 0 2px 6px 2px;
    padding: 4px 8px 4px 8px;
    display: block;
    height: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 0.825em;
    background-color: #5a8c1d;
}

.export-btn:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #75b724;
}

.radio-btn {
    margin: 0 5px 5px 0;
    padding: 0 5px 5px 0;
}

.radio-span {
    margin: 0 5px 5px 0;
    padding: 0 5px 5px 0;
}

.radio-block-btn {
    margin: 0 5px 5px 0;
    padding: 0 5px 5px 0;
    clear: left;
    float: left;
}

.radio-block-span {
    margin: 0 5px 5px 0;
    padding: 0 5px 5px 0;
    float: left;
}

.media-types-div {
    margin: 0 15px 0 0;
    padding: 0;
    float: left;
}

.theme-screenshot {
    margin: 0;
    padding: 3px;
    background-color: #eee;
    border: solid 1px #aaa;
}

.pad {
    margin: 0;
    padding: 0 10px 0 10px;
}

.module-header, .theme-header {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.module-nav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.module-nav li {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    border-bottom: solid 1px #ccc;
}

.module-nav li:last-child {
    border: none;
}

th.config-header {
    margin: 0;
    padding: 5px;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    text-align: left;
}

th.config-header > a {
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

th.config-header > a:hover {
    color: #808080;
    text-decoration: underline;
}

.edit-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/edit.png);
    text-indent: -1000px;
}

.copy-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/copy.png);
    text-indent: -1000px;
}

.download-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/download.png);
    text-indent: -1000px;
}

.label-pad-1 {
    display: block;
    float: left;
    width: 108px;
}

.label-pad-2 {
    display: inline-block;
    width: 155px;
}

.label-pad-3 {
    display: inline-block;
    width: 305px;
}

.label-pad-4 {
    display: inline-block;
    width: 293px;
}

.nav-div {
    margin: 5px 0 5px 0;
    padding: 2px 0 2px 0;
}

.green {
    font-weight: bold;
    color: #528435;
}

.orange {
    font-weight: bold;
    color: #e56300;
}

.blue {
    font-weight: bold;
    color: #53aae8;
}

.red {
    font-weight: bold;
    color: #ce3718;
}

.recent-header {
    font-size: 0.9em;
    border-top: solid 1px #ccc;
}

.small-link, .small-link:hover {
    font-weight: normal;
    font-size: 0.9em;
}

.blue-arrow {
    background-image: url(../img/blue-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

.jax-form-error {
    margin: 0;
    padding: 10px;
    display: block;
}
