/**
 * Phire CMS 2 Style Sheet
 */

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic');

/* Global Definitions */

html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 0.9em;
    color: #727170;
    box-shadow: inset 0 0 120px 90px #d1cecb;
    background-color: #f4f1ed;
    height: 100%;
    overflow: auto;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #0493dd;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #ff681f;
}

img {
    border: 0;
}

header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 90px;
    background-color: #211f1e;
}

form {
    margin: 0;
    padding: 0;
    clear: both;
}

h1 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    font-weight: normal;
    font-size: 2.4em;
}

h2 {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: normal;
    font-size: 2.0em;
}

h3 {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6em;
}

dl {
    margin: 0;
    padding: 0;
    overflow: auto;
}

dt {
    clear: left;
    margin: 0;
    padding: 0 0 2px 0;
}

dd {
    float: left;
    margin: 0;
    padding: 0 0 8px 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
    margin: 0;
    padding: 8px 6px 8px 6px;
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 4px;
    font-size: 1.0em;
    border: solid 1px #bcbcbc;
    background-color: #fafafa;
}

input[type=file] {
    margin: 0;
    padding: 3px;
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 4px;
    font-size: 0.9em;
    border: solid 1px #bcbcbc;
    background-color: #fbfbfb;
}

select {
    margin: 0;
    padding: 4px 28px 4px 2px;
    font-family: "Source Sans Pro", sans-serif;
    border: solid 1px #bcbcbc;
    background-color: #fbfbfb;
    min-width: 60px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../img/arrow-down-gray.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px 7px;
}

select::-ms-expand {
    display: none;
}

option {
    padding: 2px 4px 2px 4px;
}

textarea {
    margin: 0 0 10px 0;
    padding: 3px;
    background-color: #fbfbfb;
    border: solid 1px #bcbcbc;
    border-radius: 4px;
    font-size: 0.825em;
    font-family: "Courier New", "Courier10 BT", courier, serif;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=file]:focus, select:focus, textarea:focus {
    border: solid 1px #52b2e5;
    background-color: #fff;
    box-shadow: 0 0 4px 1px #8cd6ff;
}

input[type=submit]:focus, button:focus {
    outline: none;
}

/* ID Definitions */

#install {
    margin: 0 auto;
    padding: 20px 0 50px 0;
    overflow: auto;
}

#install > h1 {
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    text-align: center;
}

#login {
    margin: 0 auto;
    padding: 160px 0 0 0;
    overflow: auto;
}

#login-form-field-group-1 > dd, #login-form-field-group-2 > dd {
    clear: left;
    padding: 4px 4px 20px 4px;
}

#error {
    position: relative;
    clear: both;
    margin: 125px auto 25px auto;
    padding: 130px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 270px;
    min-height: 160px;
    border-radius: 6px;
    background-image: url(../img/phire-seal.svg);
    background-size: 75px 75px;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#install-form, #install > #register-form, #login-form, #forgot-form, #unsubscribe-form {
    margin: 0 auto 25px auto;
    padding: 150px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 270px;
    min-height: 160px;
    border-radius: 8px;
    background-image: url(../img/phire-seal.svg);
    background-size: 75px 75px;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#install-config-form {
    margin: 0 auto 25px auto;
    padding: 150px 35px 35px 35px;
    display: block;
    box-shadow: 0 0 10px 10px #dbd8d5;
    width: 80%;
    min-height: 500px;
    border-radius: 8px;
    background-image: url(../img/phire-seal.svg);
    background-size: 75px 75px;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#profile-form, #unsubscribe-user-form {
    margin: 0;
    padding: 0;
    display: block;
    width: 300px;
    min-height: 160px;
}

#install-form dl, #install-config-form dl, #install > #register-form dl {
    overflow: auto;
}

#install-form select {
    width: 100%;
}

#install-form > dl > dt, #install-config-form > dl > dt, #install > #register-form > dl > dt,
#forgot-form > dl > dt, #unsubscribe-form > dl > dt, #login-form > dl > dt  {
    padding: 2px 4px 2px 4px;
}

#install-form > dl > dd, #install > #register-form dl > dd {
    width: 100%;
}


#install-form > dl > dd > input[type=text], #install > #register-form > dl > dd > input[type=text],
#install > #register-form > dl > dd > input[type=email], #install > #register-form > dl > dd > input[type=password] {
    margin: 0 auto;
    width: 252px;
    display: block;
}

#install-form > dl > dd > select {
    margin: 0 auto;
    display: block;
    width: 266px;
}

#install-form > dl > dd > input[type=submit], #install > #register-form > dl > dd > input[type=submit] {
    margin: 0 auto;
    width: 266px;
    padding: 10px 0 10px 0;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#install-config-form > dl > dd {
    padding: 0 0 10px 0;
    width: 100%;
}

#install-form-field-group-2 {
    margin: 0;
    padding: 10px 0 0 0;
}

#profile-form-field-group-2 {
    clear: both;
    margin: 0;
    padding: 15px 0 0 0;
}

#unsubscribe-user-form-field-group-2 {
    clear: both;
    margin: 0;
    padding: 15px 0 0 0;
}

#forgot-form > dl > dd, #unsubscribe-form > dl > dd {
    padding: 0 4px 18px 4px;
    width: 96%;
}

#profile-form > dl > dd, #unsubscribe-user-form > dl > dd {
    padding: 0 4px 18px 4px;
    width: 96%;
}

#login-form > dl > dd > input[type=text], #login-form > dl > dd > input[type=password],
#forgot-form > dl > dd > input[type=email], #unsubscribe-form > dl > dd > input[type=email],
#profile-form > dl > dd > input[type=text], #profile-form > dl > dd > input[type=email],
#profile-form > dl > dd > input[type=password],
#unsubscribe-user-form > dl > dd > input[type=email] {
    width: 248px;
    display: block;
}

#login-form > dl > dd > input[type=submit], #forgot-form > dl > dd > input[type=submit],
#unsubscribe-form > dl > dd > input[type=submit], #profile-form > dl > dd > input[type=submit],
#unsubscribe-user-form > dl > dd > input[type=submit] {
    width: 262px;
    padding: 10px 0 10px 0;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#forgot {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#forgot-form > h2, #forgot-form > p, #unsubscribe-form > h2, #unsubscribe-form > p {
    text-align: center;
}

#login-footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    height: 20px;
    font-size: 0.825em;
    text-align: center;
}

#login-footer > a {
    font-weight: normal;
}

#install-container {
    position: relative;
    min-height: 100%;
}

#header-nav {
    position: relative;
    z-index: 10000;
    margin: 60px 16px 0 0;
    padding: 0;
    color: #f4f1ed;
    float: right;
    height: 35px;
    text-align: right;
}

#header-nav > nav {
    position: relative;
    z-index: 10000;
    margin: 0;
    padding: 0;
    height: 35px;
    display: inline-block;
}

#header-nav > nav > a {
    padding: 0 0 0 8px;
    font-weight: bold;
    text-decoration: none;
    color: #ff681f;
}

#header-nav > nav > a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #f4996d;
}

#header-nav > nav:hover > nav {
    display: block;
}

#header-nav > nav:last-child > a {
    position: relative;
    top: 2px;
    margin: 0 0 0 6px;
    padding: 0;
    display: inline-block;
    width: 15px;
    height: 10px;
}

#header-nav > nav:last-child > a > span {
    display: none;
}

#header-nav > nav:last-child > a:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f08b";
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.1em;
}

#header-nav > nav > nav {
    position: absolute;
    display: none;
    z-index: 10000;
    top: 22px;
    right: 10px;
    margin: 0;
    padding: 8px 0 0 0;
    width: 120px;
    background-image: url(../img/up-arrow.png);
    background-position: right top;
    background-repeat: no-repeat;
    border-bottom: solid 1px #b3b0af;
}

#header-nav > nav > nav > nav > a {
    margin: 0;
    padding: 5px 12px 5px 12px;
    display: block;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: normal;
    color: #575656;
    background-color: #f4f1ed;
    border-left: solid 1px #b3b0af;
    border-right: solid 1px #b3b0af;
    border-bottom: dotted 1px #b3b0af;
}

#header-nav > nav > nav > nav:last-child > a {
    border-bottom: none;
    font-weight: normal;
}

#header-nav > nav > nav > nav > a:hover {
    text-decoration: underline;
    color: #383635;
    font-size: 0.9em;
    background-color: #d2ceca;
}

#sub-nav {
    margin: 0;
    padding: 0;
}

#sub-nav > nav {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#sub-nav > nav > a {
    margin: 0 5px 0 0;
    padding: 4px 7px 4px 7px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 0.75em;
    background-color: #4aa1ce;
}

#sub-nav > nav > a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #30b6f9;
}

#login-form > dl:last-child > dd, #profile-form > dl:last-child > dd, #register-form > dl:last-child > dd,
#install-form > dl:last-child > dd, #install-config-form > dl:last-child > dd, #forgot-form > dl:last-child > dd,
#unsubscribe-form > dl:last-child > dd {
    clear: left;
    float: none;
}

#forgot {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#forgot > a {
    font-weight: normal;
}

#user-form, #role-form, #role-select-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    border-top: solid 1px #ccc;
}

#user-form > dl:first-child {
    margin: 0 0 20px 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 200px;
    height: 100%;
}

#role-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 300px;
    height: 100%;
}

#user-form > dl:first-child > dd, #user-form > dl:first-child > dt,
#role-form > dl:first-child > dd, #role-form > dl:first-child > dt {
    width: 100%;
}

#user-form > dl:first-child > dt, #role-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#user-form > dl:first-child > dd, #role-form > dl:first-child > dd {
    margin: 0 0 10px 0;
}

#user-form > dl:nth-child(2) > dd, #user-form > dl:nth-child(3) > dd, #role-form > dl:nth-child(2) > dd, #role-form > dl:nth-child(3) > dd {
    padding: 0 2px 18px 2px;
}

#user-form > dl:nth-child(3) {
    clear: both;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: solid 1px #ccc;
}

#user-form > dl:nth-child(3) > dd, #user-form > dl:nth-child(3) > dt {
    width: 98%;
}

#role-form-field-group-2 {
    width: calc(100% - 220px);
}

#role-form-field-group-2 > dt, #role-form-field-group-2 > dd {
    width: 98%;
}

#role-form-field-group-3 > dd > select {
    margin: 0 5px 5px 0;
    width: 180px;
    display: block;
    font-size: 0.9em;
}

#config-form {
    margin: 5px auto 10px auto;
    padding: 0 0 10px 0;
    width: 100%;
}

#update-form > dl > dt, #update-form > dl > dd {
    padding-left: 4px;
}

#datetime_format_custom, #pagination {
    margin: 0;
    padding: 4px 6px 4px 6px;
}

#role-form-field-group-3 > dd > fieldset {
    padding: 7px 0 0 0;
}

#loading {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#form-footer {
    margin: 0 auto 10px auto;
    padding: 0 0 50px 0;
    text-align: right;
}

#form-footer > input {
    float: right;
}

#installed {
    position: absolute;
    z-index: 10000;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding: 13px 0 11px 0;
    width: 200px;
    height: 20px;
    font-size: 0.9em;
    color: #0c96d6;
    background-color: #bde8fc;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #a6b5bc;
}

#asset-search-form, #asset-upload-form {
    margin: 32px 0 0 0;
    padding: 0;
    float: right;
}

#asset-search-form > div, #asset-upload-form > div {
    margin: 0 0 0 5px;
    padding: 0;
    float: right;
    display: block;
}

#asset-search-form > div > input[type=text] {
    margin: 0;
    padding: 2px 4px 2px 4px;
    height: 16px;
    color: #666;
    font-size: 0.825em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
    float: right;
    display: block;
}

#asset-upload-form > div > input[type=file] {
    margin: 0;
    padding: 2px 4px 2px 4px;
    height: 22px;
    color: #666;
    font-size: 0.825em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
    float: right;
    display: block;
}

#asset-search-form > div > select {
    margin: 0;
    padding: 0 28px 0 2px;
    color: #615357;
    font-size: 0.825em;
    height: 22px;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
    float: right;
    display: block;
}

#asset-search-form > div > select > option {
    margin: 0;
    padding: 1px;
    color: #615357;
}

#asset-search-form > div > input[type=submit] {
    margin: 0;
    padding: 0 4px 0 4px;
    height: 22px;
    font-size: 0.825em;
    float: right;
    display: block;
    color: #444;
    border-radius: 4px;
    border: solid 1px #aaa;
    background: linear-gradient(#dedede, #ababab);
    background-color: #ddd;
}

#asset-upload-form > div > input[type=submit] {
    margin: 0;
    padding: 4px 4px 4px 4px;
    height: 28px;
    font-size: 0.825em;
    float: right;
    display: block;
    color: #444;
    border-radius: 4px;
    border: solid 1px #aaa;
    background: linear-gradient(#dedede, #ababab);
    background-color: #ddd;
}

/* Side Navigation Styles */

#container {
    position: relative;
    min-height: 100%;
    overflow: auto;
    background-image: url(../img/nav-back.gif);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: #f4f1ed;
}

#container > footer {
    position: absolute;
    bottom: 0;
    clear: both;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    height: 15px;
    font-size: 0.825em;
    text-align: center;
    background-color: #d1d0d0;
}

#container > footer > a {
    font-weight: normal;
}

#phire-nav {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0 0 35px 0;
    width: 150px;
    min-height: 100%;
    float: left;
    font-size: 0.9em;
}

#phire-nav > nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}

#phire-nav > nav > a {
    position: relative;
    margin: 0;
    padding: 7px 0 7px 10px;
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    border-bottom: solid 1px #4f4b4a;
}

#phire-nav > nav:hover {
    background-color: #18252c;
}

#phire-nav > nav > nav {
    position: absolute;
    display: none;
    width: 150px;
    top: 0;
    left: 150px;
}

#phire-nav > nav > nav > nav > a {
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    background-color: #036fa6;
}

#phire-nav > nav > nav > nav > a:hover {
    color: #46bcfa;
    font-weight: normal;
    text-decoration: none;
}

#phire-nav > nav:hover > nav {
    display: block;
}

#phire-nav > nav > nav > nav > nav {
    position: absolute;
    display: none;
    top: 0;
    left: 150px;
    width: 150px;
}

#phire-nav > nav > nav > nav > nav > nav > a {
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    font-weight: normal;
    color: #111;
    text-align: left;
    text-decoration: none;
    background-color: #aaa;
}

#phire-nav > nav > nav > nav > nav > nav > a:hover {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
    background-color: #666;
}

#phire-nav > nav > nav > nav:hover > nav {
    display: block;
}

#content {
    margin: 0;
    padding: 0 2% 35px 0;
    width: calc(100% - 215px);
    float: right;
    height: 100%;
    overflow: auto;
}

#saved {
    position: absolute;
    z-index: 10000;
    right: 30px;
    top: 120px;
    display: none;
    opacity: 0;
    margin: 0;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    width: 125px;
    height: 20px;
    color: #315900;
    background-color: #dbf2bf;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #b8c9a1;
}

#saved:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00c";
    margin: 0;
    padding: 0 5px 0 0;
    color: #5f8700;
    font-size: 1.1em;
}

#removed {
    position: absolute;
    z-index: 10000;
    right: 30px;
    top: 120px;
    display: none;
    opacity: 0;
    margin: 0;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    width: 125px;
    height: 20px;
    color: #8e0202;
    background-color: #e8d0d0;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #bfa4a4;
}

#removed:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00d";
    margin: 0;
    padding: 0 5px 0 0;
    color: #9c0000;
    font-size: 1.1em;
}

#user_process_action {
    margin: 2px 15px 0 10px;
}

nav.nav-arrow:hover {
    background-image: url(../img/nav-arrow-left.png);
    background-repeat: no-repeat;
    background-position: right center;
}

/* Class Definitions */

.logo {
    margin: 24px 0 0 16px;
    padding: 0;
    width: 195px;
    height: 40px;
    display: block;
    float: left;
    background-image: url(../img/phire-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: -9999px;
}

@media screen and (min-width: 1140px)
{
    .dashboard-left-column {
        margin: 0 10px 20px 0;
        padding: 0;
        clear: left;
        float: left;
        width: 72%;
    }

    .dashboard-right-column {
        margin: 0;
        padding: 0;
        float: right;
        width: 25%;
    }
}

@media screen and (max-width: 1139px)
{
    .dashboard-left-column {
        margin: 0 auto;
        padding: 0;
        width: 99.5%;
    }

    .dashboard-right-column {
        margin: 0 auto;
        padding: 0;
        width: 99.5%;
    }
}

.dashboard-table {
    margin: 0 auto 20px auto;
    padding: 0;
    width: 100%;
    border: solid 1px #ccc;
}

.dashboard-table tr {
    margin: 0;
    padding: 0;
}

.dashboard-table tr:hover {
    background-color: #e8f4f7;
}

.dashboard-table th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    font-size: 0.9em;
    background-color: #dedede;
}

.dashboard-table td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

.data-table, .data-table-alt {
    clear: both;
    margin: 10px auto 10px auto;
    padding: 0;
    width: 100%;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.data-table tr, .data-table-alt tr {
    margin: 0;
    padding: 0;
}

.data-table tr:hover, .data-table-alt tr:hover {
    background-color: #e8f4f7;
}

.data-table th, .data-table-alt th {
    margin: 0;
    text-align: left;
    padding: 8px 5px 8px 5px;
    font-size: 0.9em;
    border-top: solid 1px #ccc;
    background-color: #ddd;
}

.data-table td, .data-table-alt td {
    margin: 0;
    padding: 8px 5px 8px 5px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;
}

.data-table tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.data-table tr:nth-child(odd):hover {
    background-color: #e8f4f7;
}

.data-table tr.no-background, .data-table td.no-background,
.data-table tr.no-background:hover, .data-table td.no-background:hover,
.data-table-alt tr.no-background, .data-table-alt td.no-background,
.data-table-alt tr.no-background:hover, .data-table-alt td.no-background:hover,
.dashboard-table tr.no-background, .dashboard-table td.no-background,
.dashboard-table tr.no-background:hover, .dashboard-table td.no-background:hover {
    background: transparent;
}

.data-table tr.no-padding, .data-table td.no-padding,
.data-table-alt tr.no-padding, .data-table-alt td.no-padding,
.dashboard-table tr.no-padding, .dashboard-table td.no-padding {
    padding: 0;
}

.required {
    color: #4aa1ce;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}

.warning {
    color: #f00;
    font-weight: normal;
    font-style: italic;
}

.page-links {
    float: right;
    margin: 0 0 5px 0;
    padding: 0;
}

.page-links > form {
    margin: 0;
    padding: 0;
    display: inline;
}

.page-links > form > div {
    margin: 0 4px 0 0;
    padding: 0;
    display: inline;
}

.page-links > form > div > input {
    margin: 0 0 0 4px;
    padding: 1px;
    width: 20px;
    height: 17px;
    color: #666;
    text-align: center;
    font-size: 0.9em;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 4px;
}

.page-links > a {
    margin: 0 3px 0 3px;
    padding: 0 5px 6px 5px;
    width: 10px;
    height: 17px;
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    color: #666;
    background-color: #ddd;
    border-radius: 4px;
}

.page-links > a:hover {
    color: #fff;
    background-color: #bbb;
    text-decoration: none;
}

.edit-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/edit.svg);
    text-indent: -1000px;
    background-size: 19px 21px;
}

.copy-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/copy.svg);
    text-indent: -1000px;
    background-size: 19px 21px;
}

.download-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/download.svg);
    text-indent: -1000px;
    background-size: 19px 21px;
}

.view-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/view.svg);
    text-indent: -1000px;
    background-size: 19px 21px;
}

.zoom-link {
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 19px;
    height: 21px;
    background-image: url(../img/zoom.svg);
    text-indent: -1000px;
    background-size: 19px 21px;
}

th.text-center, td.text-center {
    text-align: center;
}

.radio {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.radio-span {
    margin: 0 8px 5px 0;
    padding: 0 8px 5px 0;
}

.checkbox {
    margin: 7px 2px 2px 2px;
    padding: 2px;
    clear: left;
    float: left;
}

.checkbox-span {
    margin: 2px;
    padding: 2px;
    float: left;
}

.datetime-format {
    padding: 5px 0 5px 0;
}

.save-btn {
    margin: 0;
    padding: 8px 12px 8px 12px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #4aa1ce;
    border-radius: 4px;
    border: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.save-btn:hover {
    cursor: pointer;
    background-color: #30b6f9;
}

.update-btn {
    margin: 0;
    padding: 8px 12px 8px 12px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 0.9em;
    width: 308px;
    background-color: #4aa1ce;
    border-radius: 4px;
    border: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.update-btn:hover {
    cursor: pointer;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    background-color: #30b6f9;
}

.wide {
    width: 100%;
}

.process-btn {
    margin: 0;
    padding: 8px 12px 8px 12px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #7a7a7a;
    border-radius: 4px;
    border: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.process-btn:hover {
    cursor: pointer;
    background-color: #a6a6a6;
}

.modules-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f085";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.users-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0c0";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.roles-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f023";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.config-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f1de";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.dashboard-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.dashboard-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0e4";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.modules-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.modules-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f085";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.users-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.users-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0c0";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.roles-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.roles-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f023";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.config-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.config-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f1de";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.module-nav {
    margin: 0;
    padding: 0;
    display: block;
}

.module-nav > nav > a {
    padding: 5px 5px 5px 10px;
    display: block;
}

.module-nav > nav > nav {
    padding: 5px 5px 5px 25px;
    border-top: solid 1px #ccc;
    display: block;
}

.module-nav > nav > nav > nav > a {
    font-weight: normal;
}

.normal-link, .normal-link:hover {
    font-weight: normal;
}

.small-link, .small-link:hover {
    font-weight: normal;
    font-size: 0.9em;
}

input.module-order {
    padding: 2px;
    text-align: center;
    font-size: 0.9em;
}

input[type=text].order-field {
    margin: 0;
    padding: 3px;
    font-size: 0.825em;
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

/* Calendar Styles */

div#calendar {
    position: absolute;
    z-index: 10000001;
    margin: 0;
    padding: 0;
    top: 52px;
    left: -30px;
    width: 170px;
    background-color: #dcdcdc;
    overflow: auto;
    box-shadow: 0 0 6px 2px #808080;
}

#calendar-header {
    margin: 3px 0 5px 0;
    padding: 0;
    float: left;
}

#calendar-close {
    margin: 3px 5px 0 0;
    float: right;
}

#next-month, #prev-month {
    padding: 0 5px 0 5px;
}

#calendar-table {
    clear: both;
    margin: 5px auto 0 auto;
    padding: 0;
    border: none;
    width: 100%;
}

#calendar-table tr {
    margin: 0;
    padding: 0;
}

#calendar-table tr > th {
    margin: 0;
    padding: 0;
    font-size: 0.825em;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
}

#calendar-table tr > td {
    margin: 0;
    padding: 0;
    height: 20px;
    font-size: 0.825em;
    text-align: center;
    vertical-align: middle;
    background-color: #ececec;
}

#calendar-table tr > td > a {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #666;
    font-weight: normal;
    text-decoration: none;
    background: transparent;
}

#calendar-table tr > td > a:hover {
    color: #000;
    font-weight: normal;
    text-decoration: underline;
    background-color: #fff;
}

.calendar-open-link {
    margin: 2px 5px 0 0;
    padding: 0;
    display: block;
    float: left;
    width: 15px;
    height: 15px;
}

.calendar-open-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f073";
    margin: 0;
    padding: 0;
    color: #8d8d8d;
}

.calendar-open-link > span {
    display: none;
}

.calendar-close-link {
    text-decoration: none;
    color: #425f63;
    font-size: 0.825em;
}

.calendar-nav-link {
    text-decoration: none;
    color: #425f63;
    font-size: 0.825em;
}

#calendar-table tr > td > a.day-on {
    margin: 0;
    padding: 2% 4% 2% 2%;
    display: block;
    width: 94%;
    height: 96%;
    color: #fff;
    font-weight: bold;
    background-color: #0774b7;
}
